.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
  height: calc(100vh - 20px);
}

.halfwidth {
  width: 50%;
  justify-content: space-between;
  padding: 5px 30px 5px 5px;
}

.state {
  white-space: pre-wrap;
  margin-left: 20px;
  padding: 5px 30px 5px 5px;
  word-wrap: break-word;
  max-width: 300px;
}

.ref-state {
  position: relative;
}

.red {
  border: red 5px solid;
}

.blue {
  border: blue 5px solid;
}

.spacing {
  padding: 0px 10px;
}

.number {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 25px;
  color: white;
  padding: 3px;
}

.red-solid {
  background-color: red;
}

.blue-solid {
  background-color: blue;
}

.flex-grow {
  flex-grow: 1;
  flex-basis: 10;
}

.disabled {
  opacity: 0.2;
}

.clickable {
  cursor: pointer;
  user-select: none;
}
