input[type="checkbox"] {
  transform: scale(1);
}

input[type="text"] {
  width: 100%;
  border: 0px;
  background-color: rgba($color: #4b4b4b, $alpha: 0.2);
}

.todo-input {
  flex-grow: 1;
}

.todo-wrapper {
  display: flex;
  flex-grow: 1;
}

.saveTodo {
  cursor: pointer;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
